.preloaderContainer {
    background: rgb(241, 242, 243);
    opacity: 0.5;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    text-align: center;
}
.preloaderImage {
    width: 200px;
    margin-top: 200px;
}
